/* Estilos para el contenedor de la ventana modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* transparencia */
    display: flex;
    justify-content: center;
    align-items: center;
/*     backdrop-filter: blur(15px); */
  }


  /* Estilos para el contenido de la ventana modal */
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        
    opacity: 0;
   /*  transform: translateY(-500px); */
    animation: movedown 1.8s ease-in-out forwards;
  }

  @keyframes movedown {
    from {
      opacity: 0; /* Establecer la opacidad inicial en 0 */
     /*  transform: translateY(-500px); */
    }
    to {
      opacity: 1; /* Aumentar gradualmente la opacidad */
     /*  transform: translateY(0); */
    }
  }

  
a{
    background-color: green;
    padding: 0.5em;
    border-radius: 5px;
    font-size: 1rem;
}