/* SECCIÓN A */
.form-container{
  border: .1px solid rgba(255, 0, 0, 0);
  position: relative;
  min-height: 100vh;
  margin-bottom: -100px;
}

.h1-form{
  text-align: center;
  margin: 1.5em 0em 1.5em 0em ;
}


.formu{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 10em;
  background-image: url('/src\assets\Create\pokeball.webp');
  background-size:contain; /* Ajusta el tamaño de la imagen para cubrir todo el elemento */
  background-position: center; /* Centra la imagen en el elemento */
  background-repeat: no-repeat;
}



.form-seccion{
  display: block;
  width: 100%;
  position: relative;
  border-radius: 15px;
  padding: 1em 1em 1em 1em;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: #21252b   ;
  color: #c5c5c5;
  overflow: hidden;
  padding-top: 5em;
  border-right: 1px solid #181a1f;
  border-bottom: 1px solid #181a1f;
    box-shadow: #181a1f 4px 4px 8px;
}

.titulo-seccion-form{
  text-align: center;
  background-color: #4d77ccd0;
  font-size: 1.1rem;
  font-weight: 600;
  padding-bottom: .3em;
  margin: 0 0 2em 0;
  padding: .4em;
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;

}

.name-container-form{
  /*  border: 2px solid red;  */
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.input-name-form{
  color: rgb(255, 255, 255);
  padding: .4em .4em;
  border: none;
  margin-bottom: 1em;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  border: none;
  outline: none;
  font-size: 1.2rem;
  background-color: #1d1f23;
  outline: 1px solid #2c313c;
}



.input-name-form:focus{
  outline: 1px solid #007acc;
}

.error-form{
  outline: 1px solid red!important;
}

.msj-error-form{
  color: rgb(255, 11, 11);
  padding: .5em ;
  border-radius: 5px;
  display: inline-block;
  margin-top: -5px;
  margin-bottom: 10px;
  position: absolute;
  top: 54px;
}

.btn-generator-form {
  padding: .4em 1em;
  border: none;
  margin-bottom: 1em;
  border-radius: 5px;
  background: rgb(146,13,124);
  background: linear-gradient(274deg, rgba(146,13,124,1) 0%, rgba(254,89,133,1) 100%);
  font-weight: 600;
  color: whitesmoke;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  }
  
  .btn-generator-form:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0.2), rgba(0,0,0,0.1));
  transform: translateX(-100%);
  -webkit-animation: move 2s infinite;
          animation: move 2s infinite;
  cursor: pointer;
  }
  
  
  @-webkit-keyframes move {
  100% {
  transform: translateX(100%);
  }
  }
  
  @keyframes move {
  100% {
  transform: translateX(100%);
  }
  }

.range-form-container{
  display: flex;
  justify-content: space-evenly;
}

.range-form{
  display: inline-block;
  width: 44%;
  text-align: center;
  margin-bottom: 4.5em;
  border-radius: 10px;
  margin: 2em .5em 4.5em .5em;
  padding: .5em 0em 1em 0em;

  background-color: #282c34;
  box-shadow: #181a1f 4px 4px 6px;
}
.range-form:hover{
  outline: 1px solid #007acc;
}

.range-form label{
  display: flex;
  justify-content: center;
}

.range-form input{
  width: 70%;
}



.btn-siguiente-form,
.btn-crear-form{
  position: absolute;
  bottom: 0em;
  right: 0em;
  color: whitesmoke;
  padding: .3em .5em;
  width: 9em;
  cursor: pointer;
  border: none;
  background-color: #4d77ccd0;
  border-top-left-radius: 15px;
  font-size: 1.3rem;
}


.btn-siguiente-form:disabled{
/*   background-color: #b6b6b6;
  color: #777777; */
   cursor: not-allowed;
   opacity: 0.2;
}




/* SECCIÓN B */


.icons-types-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding-top: 1em;
}

.icon-types-form{
  margin-bottom:5em;
  margin-right: 2em;
}

.img-icon-types{
width: 70px;
background-color: #b6b6b600;
border-radius: 15px;
padding:.3em;
}

input:checked + label img {
  box-shadow: 0 0 10px 2px #46f9ff;
}


.checkbox {
  display: none;
}


.msj-error-seccion-B{
  color: rgb(255, 11, 11);
  padding: .5em ;
  border-radius: 5px;
  display: inline-block;
  margin-top: -8px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.btn-atras-form{
position: absolute;
bottom: 0em;
left: 0em;
background-color: #4d77ccd0;
color: whitesmoke;
padding: .3em .5em;
width: 9em;
cursor: pointer;
border: none;
border-top-right-radius: 15px;
font-size: 1.3rem;
}


/* SECCIÓN C */

.img-vacia-form,
.img-div-form label{
  width: 180px;
  height: auto;
  background-color: #1d1f23;
  /* background-color:  rgb(29, 42, 63); */
  height: 200px;
  border-radius: 5px;
  text-align: center;
  position: relative;
  margin: 0em .5em;
  background-image: url('/src\assets\Create\pokeball.webp');
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el elemento */
  background-position: center; /* Centra la imagen en el elemento */
  background-size: 60%;
  background-repeat: no-repeat;
}


.img-vacia-form .logo-img-loading, .span-loading{
  display: none;
}


.img-vacia-loading .logo-img-loading{
  display: initial;
  width: 75px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-animation: bounce 0.5s infinite alternate;
          animation: bounce 0.5s infinite alternate;
  -webkit-filter:brightness(1.5);
          filter:brightness(1.5);
}

@-webkit-keyframes bounce {
  from {
    transform: translateY(0) translateX(-50%);
  }
  to {
    transform: translateY(-15px) translateX(-50%);
  }
}

@keyframes bounce {
  from {
    transform: translateY(0) translateX(-50%);
  }
  to {
    transform: translateY(-15px) translateX(-50%);
  }
}

.img-vacia-loading .span-loading{
  display: initial;
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(117, 117, 117);
}


.img-vacia-loading {
  background-image:none;
}

.img-vacias-container{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2em;
  
}


.imgs-generadas-container{
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.img-div-form label{
  width: 180px;
  height: 200px;
  overflow: hidden;
  padding: 0px;
  border-radius: 5px;
  text-align: center;
  position: relative;
  margin: 0em .5em;

  display: inline-block;
  position: relative;
  cursor: pointer;
}

.img-div-form img{
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}



.input-checkbox{
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}



.input-checkbox:checked + label {
  
  -webkit-filter: drop-shadow(0 0 2px #fff) 
  drop-shadow(0 0 7px #fff) 
  drop-shadow(0 0 8px #08f);
  
          filter: drop-shadow(0 0 2px #fff) 
  drop-shadow(0 0 7px #fff) 
  drop-shadow(0 0 8px #08f);
    width: 200px;
    height: 220px;
    margin: -2em 0em;
}


.aviso-imgs-form{
  display: block;
  width: 100%;
  margin: 2em 0em 2em 0em;
  text-align: center;
}

.textarea-form {
  width: 100%;
  max-width: 95%;
  min-width: 50%;
  height: 100px;
  min-height: 100px;
  max-height: 200px;
  overflow: auto;
  border-radius: 4px;
  background-color: #1d1f23;
  outline: 1px solid #2c313c;
  color: aquamarine;
  margin-bottom: 1em;
}

.textarea-form:focus{
  outline: 1px solid #007acc;
}

.textarea-container{
  text-align: center;
  position: relative;
}


.errors-image{
  display: block;
  text-align: center;
}

.erros-textarea{
  color: rgb(255, 11, 11);
  position: absolute;
  bottom: 88px;

  left: 57%;
  transform: translateX(-50%);
  width:70%;
  text-align: center;
  
}



.btn-generar-form {
  padding: .4em 1em;
  border: none;
  margin-bottom: 1em;
  border-radius: 5px;
  background: rgb(146,13,124);
  background: linear-gradient(274deg, rgba(146,13,124,1) 0%, rgba(254,89,133,1) 100%);
  font-weight: 600;
  color: whitesmoke;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 2em;
}


.btn-generar-form:hover {
  box-shadow: inset 0px 0px 10px rgba(255,255,255,0.5), 0px 0px 10px rgba(146,13,124,0.5);
  }

.btn-crear-form {
  background-color: #26aa3e;
  background-image: url('/src/assets/Create/flechas-animadas.webp');
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el elemento */
  background-position: 86%; /* Centra la imagen en el elemento */
  background-size: 18%;
  background-repeat: no-repeat;
}



  
  @-webkit-keyframes pulse-border {
  0% {
  transform: scale(1);
  }
  50% {
  transform: scale(1.1);
  }
  100% {
  transform: scale(1);
  }
  }



  
  @keyframes pulse-border {
  0% {
  transform: scale(1);
  }
  50% {
  transform: scale(1.1);
  }
  100% {
  transform: scale(1);
  }
  }

.btn-generar-form:disabled,
.btn-crear-form:disabled {
  opacity: 0.2;
  cursor: not-allowed;
   box-shadow: none;
}

.btn-crear-form:disabled{
  background-image: none;
}



.error-generar-imgs{
  margin: 1em 0em 5em 0em;
  border: 1px solid red;
  border-radius: 20px;
  padding: 1em 1em 8em 1em;
  background-color: rgba(255, 0, 0, 0.059);
  background-image: url('/src/assets/Create/imgs-error.webp');
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el elemento */
  background-position:bottom; /* Centra la imagen en el elemento */
  background-size: 40%;
  background-repeat: no-repeat;

}


.aviso-imgs-form{
  border: 1px solid green;
  background-color: rgba(0, 128, 0, 0.087);
  border-radius: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: .3em 1.7em;
}