/* 
img {
    filter: saturate(0.3);
    width: 70px;
  }
  

  input:checked + label img {
    filter: saturate(2);
    animation: giro-espejo 2s infinite;
  }

  @keyframes example {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .checkbox {
    display: none;
  }
  
  .seccion-2 {
    border: 4px solid brown;
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  @keyframes giro-espejo {
    0% {
      transform: rotateY(0deg) scaleX(1);
    }
    50% {
      transform: rotateY(180deg) scaleX(-1);
    }
    100% {
      transform: rotateY(360deg) scaleX(1);
    }
  }



.selected-img{
  border: 5px solid green;
  width: 400px;
} */