footer{
    background: #21252b ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    z-index: 10;
    width: 100%;
     border-top: 1px solid #1d1f23; 
}

footer a, span{
    display: flex;
    align-items: center;
    color: white;
}

footer span{
    margin: 0 1em 0 1em;
}

