.btn {
  background: #fde55a;
  color: #313430;
  padding: 4% 10%;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: 0px 5px 10px 1px #dd6e42
}

.btn:hover {
  background: #fff;
  color: #000;

}

@media screen and (max-width: 768px) {
  .btn {
    padding: 6% 10%;
    border-radius: 1rem;
  }
}


.landing-cont {
  background: linear-gradient(312deg, rgba(0, 188, 212, 1) 0%, rgba(7, 58, 187, 1) 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -90px;
}

.landing-cont-logos {
  background: linear-gradient(130deg, rgba(246, 101, 54, 1) 0%, rgba(255, 184, 57, 1) 100%);
  width: 80%;
  height: auto;
  display: flex;
  border-radius: 7px;
  box-shadow: 1px 6px 29px 0px rgba(84, 84, 84, 0.75);
  -webkit-box-shadow: 1px 6px 29px 0px rgba(84, 84, 84, 0.75);
  -moz-box-shadow: 1px 6px 29px 0px rgba(84, 84, 84, 0.75);
  padding: 5%;
  position: relative;
}


.landing-cont-logo-poke {
  width: 44%;
}

.landing-cont-imgs {
  border: 4px solid white;

}

.landing-logo-pokemon {
  width: 100%;
  display: block;
}

.landing-pokebola {
  width: 35%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -3%;
}

.landing-img-pikachu {
  width: 50%;
  height: auto;
  position: absolute;
  top: -1.1em;
  right: -1.1em;
  -webkit-animation: movePikachu 2s ease-in-out infinite alternate;
  animation: movePikachu 2s ease-in-out infinite alternate;
}

@-webkit-keyframes movePikachu {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 10px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes movePikachu {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 10px);
  }

  100% {
    transform: translate(0, 0);
  }
}

.landing-h1 {
  font-size: 1.4rem;
  width: 100%;
  color: #fcfffe;
}

.cssbuttons-io-button {
  margin-left: 50%;
}


.landing-cont-logos {
  background-image: url('../../assets/LandingPage/circles.webp');
  background-size: cover;
  background-repeat: no-repeat;
}


@media screen and (max-width: 768px) {
  .landing-cont {
    align-items: start;
    padding-top: 5%;
    min-width: 370px;
    min-height: 100%;
  }

  .landing-cont-logos {
    width: 95%;
    padding-bottom: 5em;
    margin-bottom: 2em;
  }

  .landing-cont-logo-poke {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .landing-pokebola {
    margin-top: 1em;
    margin-bottom: 3em;
  }

  .landing-img-pikachu {
    width: 30%;
    height: auto;
    position: absolute;
    left: 38%;
    top: 32%;
    -webkit-animation: movePikachu 2s ease-in-out infinite alternate;
    animation: movePikachu 2s ease-in-out infinite alternate;
  }
}