body {
	text-align: center;
	font-family: Arial;
	background: #f8f8f8;
}

.buttons {
	margin-top: 160px;
  
}

.buttons a {
	margin-right: 30px;
	width: 64px;
	height: 64px;
	font-size: 24px;
	display: inline-block;
	position: relative;
	line-height: 64px;
	background-color: #eaeaea;
	background-image: linear-gradient(to bottom, #f6f6f6, #eaeaea);
	border-radius: 32px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
}

.buttons a:active {
	top: 1px;
	background-image: linear-gradient(to bottom, #eaeaea, #f6f6f6);
}

.buttons a::before {
	content: '';
	position: absolute;
	z-index: -1;
	top: -8px;
	right: -8px;
	bottom: -8px;
	left: -8px;
	background-color: #eaeaea;
	border-radius: 140px;
	opacity: 0.5;
}

.buttons a:hover {
	background-color: #c6f0f8;
}

.buttons a:hover::before {
	opacity: 1;
}

.linkedin:hover::before {
	background-color: #dae1f0;
}

.github:hover::before {
	background-color: #dae1f0;
}

.gmail:hover::before {
	background-color: #dae1f0;
}


.footer {
	width: 600px;
	margin: auto;
	margin-top: 100px;
	font-size: 15px;
	font-weight: bold;
	color: #cdcdcd;
	text-shadow: 1px 2px 0 #fff;
}

.footer a {
	color: #bebebe;
	text-decoration: none;
}

.footer a:hover {
	color: #bebebe;
	text-decoration: none;
	border-bottom: 1px dashed #cdcdcd;
}

.fa-linkedin-in,
.fa-github,
.fa-envelope{
  color: #551a8b;
}

